// colors
$white: #fff;
$almost-white: #eee;
$lighter-grey: #ddd;
$light-grey: #aaa;
$grey: #999;
$dark-grey: #666;
$darker-grey: #333;
$almost-black: #222;
$black: #000;
$blue: #0677bf;
$light-blue: #007cba;
$dark-blue: #004876;
$purple: #5627a8;
$lime-green: #b6ff17;
$green: #99dd00;
$dark-green: #11aa33;
$darker-green: #009527;
$pink: #a2839b;
$orange: #f89406;
$dark-orange: #ca6d00;
$red: #dd2222;
$yellow: #f8e806;
$tomato-red: #FF6347;
$orangered: #FF4500;
$coral-red: #FF7F50;
$fire-red: #FE1B00;
$strawberry-red: #BF3030;
$nasturtium-red: #FF5E4D;
$alizarin-red: #D90115;
$mars-red: #F7230C;
$azur-blue: #1E7FCB;
$sage-green: #689D71;
$ocker-red: #DD985C;
$steel-blue: #3A8EBA;
$spinach-green: #175732;
$burnt-orange: #CC5500;
$olive-green: #708D23;
$blue-duck: #048B9A;
