# See : https://git-scm.com/docs/gitignore
/.settings
/.buildpath
/.project
/.idea/
/.sass-cache/
/.php_cs.cache/

# /data/
/data/


/public/css/templates/
# libraries
/vendor/

# Private configs
/config/pwd.json
# Mappings of Episicences journals Id HAL referential Ids
/config/halJournalMappings.json

# composer
/composer.lock
/composer.phar


# logs and errors
/scripts/imports/*
/scripts/*.log
/errors/

#webpack
public/build/
assets/node_modules/

/node_modules/
/scripts/archives/
/assets/

/phpcbf.phar
/phpcs.phar
/.php_cs.cache

