# See : https://git-scm.com/docs/gitignore
/.settings
/.buildpath
/.project
/.idea/
/.sass-cache/
/.php_cs.cache/

# /data/
/data/


/public/css/templates/
# libraries
/vendor/

# Private configs
/config/pwd.json

# composer
/composer.lock
/composer.phar


# logs and errors
/scripts/imports/*
/scripts/*.log
/errors/

#webpack
public/build/
assets/node_modules/

/node_modules/
/scripts/archives/

/phpcbf.phar
/phpcs.phar
/.php_cs.cache
# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
