.sortable {
  margin: 0 0 10px 0;
  padding: 0;
}

.sortable > li {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  margin: 0 0 5px 0;
  padding: 0;
}

.sortable li > span {
  position: absolute;
  margin-left: -1.3em;
}

.sortable-placeholder {
  border: 1px solid #fcefa1 !important;
  background: #fbf9ee url(/img/smoothness/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x !important;
  color: #363636 !important;
}
