/**
 * Editor Comments Timeline Component
 * Extends base timeline with editor comments specific styling
 * Requires: _timeline-base.scss
 */

// Editor comments container (extends timeline-container)
.editor-comments-timeline {
  @extend .timeline-container;
}

// Comment header (date + author)
.timeline-comment-header {
  margin-bottom: 10px;
  font-size: 12px;

  .comment-date {
    font-weight: bold;
    color: $dark-grey;
    display: block;
    margin-bottom: 3px;
  }

  .comment-author {
    color: $dark-grey;
    font-style: italic;
  }
}

// Comment message
.timeline-comment-message {
  font-size: 12px;
  color: $darker-grey;
  line-height: 1.5;
  margin-bottom: 10px;
  word-wrap: break-word;
}

// Attached file section
.timeline-comment-attachment {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $almost-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;

  a {
    text-decoration: none;
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  .glyphicon-paperclip {
    margin-right: 5px;
  }

  .remove-file-btn {
    margin-left: 10px;
    flex-shrink: 0;
  }
}
