.role-root, .role-epiadmin  {
  background-color: $red;
}

.role-chief_editor {
  background-color: $orangered;
}

.role-administrator {
  background-color: $orange;
}

.role-editor {
  background-color: $dark-orange;
}

.role-webmaster {
  background-color: $darker-green;
}

.role-reviewer {
  background-color: $blue;
}

.role-member {
  background-color: rgba(101, 85, 85, 0.2);
  color:$black;
}

.role-editorial_board {
  background-color: #cb904d;
}

.role-technical_board {
  background-color: #ffc100;
  color: #2c2c2c;
}

.role-scientific_advisory_board {
  background-color: #ffeaae;
  color: #2c2c2c;
}

.role-advisory_board {
  background-color: #ffeaae;
  color: #2c2c2c;
}

.role-managing_editor {
  background-color: #ffc100;
  color: #2c2c2c;
}

.role-handling_editor {
  background-color: #cb904d;
}

.role-former_member {
  background-color: #6B8C70;
}

.role-guest_editor {
  background-color: $burnt-orange;
}

.role-secretary {
  background-color: darksalmon;
}

.role-copyeditor {
  background-color: #A2839BFF;
}

.role-author {
  background-color: #597373FF;
}

.role-guest {
  background-color: $light-grey;
}
