.role-root, .role-epiadmin  {
  background-color: $red;
}

.role-chief_editor {
  background-color: $orangered;
}

.role-administrator {
  background-color: $orange;
}

.role-editor {
  background-color: $dark-orange;
}

.role-webmaster {
  background-color: $darker-green;
}

.role-reviewer {
  background-color: $blue;
}

.role-member {
  background-color: $grey;
}

.role-guest_editor {
  background-color: $burnt-orange;
}

.role-secretary {
  background-color: darksalmon;
}

.role-copyeditor {
  background-color: $pink;
}

.role-guest {
  background-color: $light-grey;
}
