.white {
  color: $white;
}

.almostwhite {
  color: $almost-white;
}

.lightergrey {
  color: $lighter-grey;
}

.lightgrey {
  color: $light-grey;
}

.grey {
  color: $grey;
}

.darkgrey {
  color: $dark-grey;
}

.darkergrey {
  color: $darker-grey;
}

.blue {
  color: $blue;
}

.darkblue {
  color: $dark-blue;
}

.limegreen {
  color: $lime-green;
}

.green {
  color: $green;
}

.darkgreen {
  color: $dark-green;
}

.darkergreen {
  color: $darker-green;
}

.pink {
  color: $pink;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.darkorange {
  color: $dark-orange;
}

.red {
  color: $red;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.lightergrey-bg {
  background-color: $lighter-grey;
}

.lightgrey-bg {
  background-color: $light-grey;
}

.grey-bg {
  background-color: $grey;
}

.darkgrey-bg {
  background-color: $dark-grey;
}

.darkergrey-bg {
  background-color: $darker-grey;
}

.blue-bg {
  background-color: $blue;
}

.darkblue-bg {
  background-color: $dark-blue;
}

.limegreen-bg {
  background-color: $lime-green;
}

.green-bg {
  background-color: $green;
}

.darkgreen-bg {
  background-color: $dark-green;
}

.darkergreen-bg {
  background-color: $darker-green;
}

.pink-bg {
  background-color: $pink;
}

.purple-bg {
  background-color: $purple;
}

.orange-bg {
  background-color: $orange;
}

.darkorange-bg {
  background-color: $dark-orange;
}

.red-bg {
  background-color: $red;
}

.black-bg {
  background-color: $black;
}
