ul.tree .caret {
    margin-right: 5px;
    margin-top: 9px;

    -webkit-transform:     rotate(-90deg);
    -moz-transform:        rotate(-90deg);
    -o-transform:          rotate(-90deg);
    -ms-transform:         rotate(-90deg);
    transform:             rotate(-90deg);
}
            
ul.tree li input:checked + label .caret {  
    -webkit-transform:     rotate(0deg);
    -moz-transform:        rotate(0deg);
    -o-transform:          rotate(0deg);
    -ms-transform:         rotate(0deg);
    transform:             rotate(0deg);
}